.noteContainer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 70%;

  margin: 0px auto;
}

.show {
  display: block;
}
.hide {
  display: none;
}
