.card {
  max-width: 200px;
  min-width: 200px;
  min-height: 200px;
  box-shadow: 0 0 10px #aaa;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}

.cardInner {
  padding: 10px;
}

.space{
  margin:4px;
}